.Navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: brown;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 80px;
}

.nav-logo {
    width: 150px;
}
.nav-links {
    display: flex;
    gap: 30px;
    font-size: 20px;
}